<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
  
<mapper namespace="kr.co.teampro.mapper.GongjiMapper">
	<select id="list" resultType="kr.co.teampro.vo.GongjiVO">
		select * from gongji order by gubun desc,id desc
	</select>
	<insert id="write_ok" parameterType="kr.co.teampro.vo.GongjiVO">
		insert into gongji(title,content,gubun,writeday) values(#{title},#{content},#{gubun},now())
	</insert>
	<update id="readnum">
		update gongji set readnum=readnum+1 where id=#{param1}
	</update>
	<select id="content" resultType="kr.co.teampro.vo.GongjiVO">
		select * from gongji where id=#{param1}
	</select>
	<delete id="delete" parameterType="kr.co.teampro.vo.GongjiVO">
		delete from gongji where id=#{id}
	</delete>
	<select id="update" resultType="kr.co.teampro.vo.GongjiVO">
		select * from gongji where id=#{param1}
	</select>
	<update id="update_ok">
		update gongji set title=#{title},content=#{content},gubun=#{gubun} where id=#{id}
	</update>
</mapper>